<div class="container">
  <div class="row">
    <form action="/create_actor">

      <label for="dob">DOB</label>
      <input type="text" id="dob" name="dob" placeholder="DOB">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Name">

      <label for="bio">Bio</label>
      <input type="text" id="bio" name="bio" placeholder="Bio">

      <label for="image_url">Image URL</label>
      <input type="text" id="image_url" name="image_url" placeholder="Image URL">

      <button>Create Actor</button>
    </form>
  </div>

</div>
